/*------!------*/
body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 100px 0;
}

p {
  font-size: 18px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.6;
}

/*------NAVBAR------*/


.navbar-default {
  padding-top: 30px;
  /*margin-bottom: 20px;*/
  border: none;
}

.glyphicon-menu-hamburger {
  font-size: 40px;
  float: right;
  margin: 4px;
}


.navbar-brand {
  float: left;
  padding: 15px 15px;
}

.navbar-nav li a {
  padding: 5px;
}

li {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-top: 3px solid transparent;
}

li:hover {
  border-top: solid 3px #fe6033;
}

.navbar-collapse {
  border: none;
}

/*------HOME------*/

#home {
  height: 1000px;
  margin-top: 100px;
  background-image: url("img/bg1.png");
}

#home-text {
  position: absolute;
  top: 30%;
  color: #262626;
  padding: 0;
  margin-top: 100px;
}

#home h1 {
  font-weight: 900;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#home button {
  width: 200px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fe6033;
  color: #fff;
  padding: 10px 16px 10px 16px;
}

#home button:hover {
  background-color: #9a2f10;
}

/* ------ABOUT US------*/

#about-us {
  height: 700px;
  background-color: #00aead;
  padding: 50px 0 25px 0;
}
#about-us-text {
  padding-top: 30px;
  max-width: 40%;
  color: #262626;
  padding-left: 30px;
}

#about-us-text h2 {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  margin-top: 18%;
}

#about-us-text p {
  color: #fff;
}

#about-us-text a {
  top: 10%;
}


/*-----MEDIA-----*/


@media (max-width: 991px) {
  /* about section */
  #about h2 {
    margin-top: 0; 
  }
  #about h2, #about p {
    text-align: center;
  } 
  #about p {
    max-width: 100%;
  }
}

/* mobile devices */
@media (max-width: 767px) { 
  /* general */
  h2 {
    font-size: 70px;
  }	
  p {
    font-size: 14px;
  }
  /* navbar */
  .navbar-default {
    background-color: #ffffff;
  }	
  .navbar-default .navbar-nav>li>a {
    padding: 12px;
    margin: 0;
    border: none;
  }	
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    border: none;
    color: #fe6033;
  }	
  .navbar-default .navbar-nav>li>a:hover {
    color: #fe6033;
    border: none;
  }	
  .navbar-fixed-top {
    padding: 10px;
  }	
  .navbar-default .navbar-brand {
    padding-top: 0;
  }	

  /* header banner */
  #header-content {
    padding: 10px;
  }
}

/* extra small */
@media (max-width: 550px) {
  /* general */
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 13px;
  }
}